.post{
    display: flex;
    padding:20px;
    flex: 0.50;
    border-bottom: 1px solid rgb(230, 236, 240);
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-items: flex-start;
}
.content{
    display: flex;
    margin-left: 15px;
    flex-direction: row;
    font-size: 15px;
}
.postText{
    font-size: 15px;
    max-width: 500px;
    margin-left: 15px;
    word-break: break-all;
}
.postIMG{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.imgPost{
    width: 500px;
    max-width: 500px;
    object-fit: contain;
    border-radius: 20px;
}
.postIcons{
    margin-left: 15px;
    margin-top: 10px;
    width: 400px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}
.postIcons >.MuiSvgIcon-root{
    font-size: 18px;
    padding: 7px;
}
.postIcons > .comment:hover,.publish:hover{
    color: var(--twitter-color);
    background-color: var(--twitter-background);
    border-radius: 50%;
    transition: color 200ms ease-out
}


.postIcons > .heart:hover{
    color: #E33C6F;
    background-color: #F3E3EB;
    border-radius: 50%;
    transition: color 200ms ease-out
}

.postIcons > .retweet:hover{
    color: #61D295;
    background-color: #DEF2EB;
    border-radius: 50%;
    transition: color 200ms ease-out
}


