.tweetButton{
    background-color: var(--twitter-color) !important;
    color:white !important;
    font-weight: 800 !important;
    padding: 13px !important;
    border-radius: 30px !important;
    text-transform: none !important;
    border: none !important;
    margin-top: 10px !important;
}

.twitterIcon{
    padding: 20px;
    color: var(--twitter-color);
}
.twitterIcon:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out
}