.sidebarMenu{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarMenu >.MuiSvgIcon-root{
    padding: 18px;
}

.sidebarMenu > h2{
    font-weight: 650;
    font-size: 18px;
    margin-right: 20px;
}

.sidebarMenu:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out
}
.sidebarMenu--active{
    color: var(--twitter-color);
}